<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat-Da-Burger! Sequelized!</title>
		<link rel="stylesheet" type="text/css" href="/assets/style.css">
	</head>
	<body>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/assets/burgers.js"></script>
	</body>
</html>